@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ShopOnline.Models.MauSac

@{
    ViewData["Title"] = "AddMauSac";
    Layout = "~/Areas/Admin/Views/Share/_LayoutAdmin.cshtml";
}

<h1>Thêm Màu Sắc</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mt-3">
        @TempData["ErrorMessage"]
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="AddMauSac">
            <div class="form-group">
                <label asp-for="TenMs" class="control-label"></label>
                <input asp-for="TenMs" class="form-control" />
                <span asp-validation-for="TenMs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="MauSac">Trở về</a>
</div>

