@model IEnumerable<ShopOnline.Models.DanhMuc>

@foreach (var item in Model)
{
    <a href="@Url.Action("SanPhamTheoDanhMuc", "Home", new { madm = item.MaDm })" class="nav-item nav-link">
        @item.TenDm
    </a>
}

